<!DOCTYPE html>
{% load static %}
<html>
<head>

	<title>New Year</title>
</head>
<style type="text/css">
	td:nth-child(even){
		background-color: #D6EEEE;
	}
</style>
<h1>Resolutions for 2023</h1>
<body>
	{{ insert_me }}<!-- 
	<p>Never trust vespa<p>
	<p>Don't trust thambi</p>
	<p>Sampu is a <strong>Mysterious person</strong></p>
	<div>
		<table border="strong">
			<thead>
				<th>Name</th>
				<th>Things to Avoid Infront of them</th>
				<th>Threats</th>
			</thead>
			<thead>
				<td><b>Vespa</b></td>
				<td>Talking about Biryani</td>
				<td>Over Weight and Obesity</td>
			</thead>
			<thead>
				<td><b>Thambi</b></td>
				<td>Never mention about Oldcity</td>
				<td>Headache,Sleepless Night,Maybe even worst</td>
			</thead>
			<thead>
				<td><b>Sampu</b></td>
				<td>Never speak about Cricket</td>
				<td>You may End up killing him</td>
			</thead>
		</table>
	</div>
<div>
	<img src="{% static 'images/new_kohli.jpg' %}" alt="Nothing Found"> -->
</div>

</body>
</html>